# Always state external and internal container ports
# Deployment & site url params
NGINX_PORT=80               # optional (for mapping)
VITE_PORT=5173              # optional (for mapping)

# FastAPI (backend url params)
API_PORT=8000               # optional (for mapping)
API_HOST=0.0.0.0            # used only for local deploy w/o script

# FastAPI security
JWT_SECRET_KEY=top1RussianCommuntiyAndhisfriends
JWT_EXPIRE_MINUTES=60       # optional, default is 60 minutes
JWT_ALGORITHM=HS256         # optional, default is HS256

# Database (setting + url params)
DB_USER=abasik1987
DB_PASSWORD=anditold(?)them1inventedtimesnewshmiga
DB_NAME=airbim_db
DB_HOST=database           # used only for local deploy w/o script
DB_PORT_EXTERNAL=5111      
DB_PORT_INTERNAL=5432              

# Broker
BROKER_PORT_INTERNAL=6380
BROKER_PORT_EXTERNAL=6380
BROKER_PASSWORD=ohgod
BROKER_URL=redis://:ohgod@broker:${BROKER_PORT_INTERNAL}  

# Backend (for Celery, default is broker)
BACKEND_PORT_INTERNAL=6380           
BACKEND_PORT_EXTERNAL=6380 
BACKEND_PASSWORD=ohgod
BACKEND_URL=redis://:ohgod@broker:${BACKEND_PORT_INTERNAL}  

# Flower (Celery)
FLOWER_PORT_INTERNAL=5555
FLOWER_PORT_EXTERNAL=5555

# Cache
CACHE_PORT_INTERNAL=6379
CACHE_PORT_EXTERNAL=6379
CACHE_PASSWORD=coolpassword

# Storage
STORAGE_ACCESS_KEY_ID=username                                                 # basically, username
STORAGE_SECRET_KEY=password                                                    # basically, password
STORAGE_PORT_EXTERNAL=9000                                                     # default S3 storage value
STORAGE_PORT_INTERNAL=9000
STORAGE_BUCKET=airbim                                                          # main bucket
STORAGE_URL_EXP_TIME=300                                                       # life-time of a presigned url
STORAGE_INTERNAL_ENDPOINT=http://storage:${STORAGE_PORT_INTERNAL}              # use to access inside docker network
STORAGE_EXTERNAL_ENDPOINT=http://localhost:${STORAGE_PORT_EXTERNAL}            # use to act outside docker network (e.g. presigned URLs)

# PotreeConverter
# dir in the contatiner
POTREE_CONVERTER_PATH=/opt/potreeconverter/PotreeConverter