API_HOST=0.0.0.0            # optional, default is 0.0.0.0
API_PORT=8000               # optional, default is 8000
DB_HOST=localhost
DB_USER=someone
DB_PASSWORD=somewhat
DB_NAME=somename
DB_PORT=5432                # optional, default is 5432

JWT_SECRET_KEY=secretkey
JWT_EXPIRE_MINUTES=60       # optional, default is 60 minutes
JWT_ALGORITHM=HS256         # optional, default is HS256