/* Стиль для проекта, работает над бутстрапом */

/* Обычный текст - PTSans-Caption */
@font-face {
    font-family: 'PTSansCaption';
    src: url('PTSans-Caption.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Обычный жирный текст - PTSans-CaptionBold */
@font-face {
    font-family: 'PTSansCaptionBold';
    src: url('PTSans-CaptionBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Жирный обычный текст - PTSans-CaptionBold */
@font-face {
    font-family: 'RobotoMono';
    src: url('RobotoMono-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 700;
    font-style: normal;
}

body {
    font-family: 'PTSansCaption', Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'RobotoMono', 'PTSansCaption', Arial, sans-serif !important;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 64px;
}

p {
    font-family: 'PTSansCaption', Arial, sans-serif !important;
    font-size: 16px !important;
}
