@tailwind utilities;
@reference "./assets/styles.css";

/* Обычный текст */
@font-face {
    font-family: "PTSansCaption";
    src: url("./assets/fonts/PTSans-Caption.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* Обычный жирный текст */
@font-face {
    font-family: "PTSansCaptionBold";
    src: url("./assets/fonts/PTSans-CaptionBold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* Текст для заголовков */
@font-face {
    font-family: "RobotoMono";
    src: url("./assets/fonts/RobotoMono-VariableFont_wght.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

/* Общий фон для всех страниц*/
@layer base {
  body {
    @apply bg-background-color text-primary-color;
    font-family: "PTSansCaption", Arial, sans-serif;
    margin: 0px;
  }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "RobotoMono", Arial, sans-serif;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

@layer base {
    p, a, span, button, ::placeholder {
        font-size: 16px;
        font-family: "PTSansCaption", Arial, sans-serif;
        @apply text-text-color
    }
    i {
        @apply text-primary-color
    }
    h1 {
        @apply text-text-color
    }
}

button {
    background: none;
    border: none;
}

a { 
    text-decoration: none; 
}